<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.invincible.securitycamera">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/securitycamera"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/securitycamera"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="ListActivity"/>
        <activity android:name=".SavedVideos"></activity>
        <activity android:name=".SavedFaces"></activity>
        <activity android:name=".VideoDay"></activity>
        <activity android:name=".VideoPlayer"></activity>
        <activity android:name=".FaceDay"></activity>
    </application>

</manifest>